<form class="form-horizontal" action="/users/<%=@current_user.id%>/createpassword" method="POST">
  <fieldset>
  <!-- Form Name -->
  <legend>Add Password</legend>
  <% if @errors %>
    <div class="errors-wrapper">
      <span>Password creation failed:</span>
      <ul class="errors">
        <% @errors.each do |error| %>
          <li class="error"><%= error %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <!-- Password input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="password_plaintext1">Password</label>
    <div class="col-md-4">
      <input id="password_plaintext1" name="password_plaintext1" type="password" class="form-control input-md" required="">
    </div>
  </div>
  <br>
  <div class="form-group">
    <label class="col-md-4 control-label" for="password_plaintext2">Password (again)</label>
    <div class="col-md-4">
      <input id="password_plaintext2" name="password_plaintext2" type="password" class="form-control input-md" required="">
    </div>
  </div>
  <br>
  <!-- Button -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="register"></label>
    <div class="col-md-4">
      <button id="register" name="register" class="btn btn-primary">Create Password</button>
    </div>
  </div>
  </fieldset>
  </form>
