<div class="modal fade" id="registration-form" tabindex="-1" role="dialog" aria-labelledby="registration-form">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <center><h4 class="modal-title">New User Registration</h4></center>
      </div>
      <div class="modal-body">
        <%= erb :"user/_registration_form", layout: false %>
      </div>
    </div>
  </div>
</div>