<div class="container">
  <br>
  <form class="form-horizontal" action="/users/new" method="POST">
  <fieldset>
  <!-- Form Name -->
  <legend>New User Registration</legend>
  <% if @errors %>
    <div class="errors-wrapper">
      <span>Login failed:</span>
      <ul class="errors">
        <% @errors.each do |error| %>
          <li class="error"><%= error %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="full_name">Full Name</label>
    <div class="col-md-4">
    <input id="full_name" name="full_name" type="text" value="<%= @user.try(:fullname) %>" class="form-control input-md" required="">
    </div>
  </div>
  <br>
<!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="email">Email Address</label>
    <div class="col-md-4">
    <input id="email" name="email" type="email" value="<%= @user.try(:email) %>" class="form-control input-md" required="">
    </div>
  </div>
  <br>
  <!-- Password input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="password_plaintext1">Password</label>
    <div class="col-md-4">
      <input id="password_plaintext1" name="password_plaintext1" type="password" class="form-control input-md" required="">
    </div>
  </div>
  <br>
  <div class="form-group">
    <label class="col-md-4 control-label" for="password_plaintext2">Password (again)</label>
    <div class="col-md-4">
      <input id="password_plaintext2" name="password_plaintext2" type="password" class="form-control input-md" required="">
    </div>
  </div>
  <br>
  <!-- Button -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="register"></label>
    <div class="col-md-4">
      <button id="register" name="register" class="btn btn-primary">Register</button>
    </div>
  </div>
  </fieldset>
  </form>
</div>
