<div id="login" style="display: none">
  <p><a href="">Login/register with Google</a></p>
  <p><a href="">Login/register with GitHub</a></p>
  <p><a href="/sessions/new" rel="modal:open">Login with email address</a></p>
  <p><a href="/users/new" rel="modal:open">Register with email address</a></p>
</div>