  <form class="form-horizontal" action="/login" method="POST">
  <fieldset>

  <!-- Form Name -->
  <legend>User Login</legend>
  <br>
  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="email">Email Address</label>
    <div class="col-md-6">
    <input id="email" name="email" type="email" class="form-control input-md" required="">
    </div>
  </div>
  <br>
  <!-- Password input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="password_plaintext">Password</label>
    <div class="col-md-6">
      <input id="password_plaintext" name="password_plaintext" type="password" placeholder="" class="form-control input-md" required="">
    </div>
  </div>
  <br>
  <!-- Button -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="register"></label>
    <div class="col-md-6">
      <button id="login" name="login" class="btn btn-primary">Login</button>
    </div>
  </div>
  </fieldset>
  </form>
