<p><a href="/login/google">Login/register with Google</a></p>
<p><a href="/login/github">Login/register with GitHub</a></p>
<p><a href="#login-form" rel="modal:open">Login with email address</a></p>
<p><a href="#registration-form" rel="modal:open">Register with email address</a></p>
