<ul>
  <li><a href="/">Home</a></li>
  <% if authenticated? %>
  <li><a href="/logout">Logout</a></li>
  <% else %>
  <li><a href="/users/new">Register</a></li>
  <li><a href="/sessions/new">Login</a></li>
  <% end %>
</ul>