<div class="container">
  <br>
  <center><h1>Sinatra skeleton + authentication</h1></center>
  <p>Notes:</p>
  <ul>
    <li>migration and model exists for User</li>
    <li>User must provide: first name, last name, email address, and password when registering</li>
    <li>User logs in with email address and password</li>
    <li>Upon successful login, user is redirected to profile page</li>
  </ul>
  <p>Hopefully this will save you tens of minutes. Enjoy!</li>
</div>