<div class="container">
  <br>
  <center><h1>Sinatra skeleton + many different authentication things</h1></center>
  <p>Notes:</p>
  <ul>
    <li>User has ability to log in via google, github, and local accounts</li>
    <li>User can link both google and github accounts to same website account</li>
  </ul>
</div>